.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    /* .slick-prev, .slick-next {
        position: absolute;
        z-index: 2;
        left: -91px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        padding: 0;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -91px;
        left: auto;
    } */
    .prev, .next {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        padding: 0;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: 0;
        left: auto;
    }
    .tns-outer {
        width: 750px;
        margin: 0 auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .tns-nav {
        margin-top: 20px;
        display: flex;
        display: none;
        justify-content: center;
        button {
            display: block;
            width: 20px;
            height: 8px;
            margin: 0 10px;
            border: 2px solid $main-color;
            border-radius: 3px;
            &.tns-nav-active {
                background-color: $main-color;
            }
        }
    }
}