.catalog {
    padding: 0 0 100px 0;
    &__tabs {
        margin-top: 65px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #6b6b6b;
        text-align: center;
        line-height: 46px;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 10px #000;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border-color: $main-color;
        }
    }
    &__content {
        margin-top: 60px;
        display: flex;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 25px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            color: #0d0d0d;
            text-align: center;
        }
        &__descr {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #0d0d0d;
            text-align: center;
            margin-top: 12px;
        }
        &__link {
            display: block;
            margin-top: 14px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            color: $main-color;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin: 20px 0;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
        }
        &__price {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0;
            padding-right: 20px;
            transform: translateX(-100% );
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
                padding-right: 0;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5s all;
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;
            }
            &_active {
                transform: translateX(-100%);
                padding-right: 20px;
                margin-left: 0;
            }
            li {
                position: relative;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 300;
                color: #555555;
                margin-bottom: 20px;
                padding-left: 19px;
                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            color: $main-color;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}